.contact-container {
    background-color: #f7f7f7; /* Light grey background for a subtle, professional look */
    border-radius: 8px; /* Rounded corners for a modern feel */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    max-width: 1200px; /* Maximum width for optimal reading experience */
    position: relative;
    top: 20px;
    margin: auto; /* Center the container */
    animation: fadeInFromBottom 1s ease forwards;
  }
  
  .contact-text {
    color: #333; /* Dark grey text for readability */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* A clean, professional font */
    line-height: 1.6; /* Spacious line height for readability */
  }
  
  .contact-p {
    background-color: #f0f0f0;
    border-left: 4px solid rgb(255, 215, 0);
    padding: 20px;
    margin-bottom: 30px;
    font-size: 1.2rem;
    text-align: right;
    direction: rtl;
    animation: fadeInFromBottom 1s ease forwards;
  }
  
  /* Make sure to define your keyframes for the animation */
  @keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  